.course-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(175, 143, 206);
}

.subjects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 80px 40px;
}
.cart-container{
    background-color: rgb(178, 179, 180);
    
}

.item-container{
    position: sticky;
    top: 0;
}

@media screen and (max-width: 1100px) {
    .course-container{
        grid-template-columns: 3fr 1fr;
    }
    .subjects-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 500px) {
    .course-container{
        grid-template-columns: 1fr;
    }
    .subjects-container{
        grid-template-columns: 1fr;
    }
}

